@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #C44900;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #415D43;
}

header nav a {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #EBEBEB;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover,
header nav a.active {
  background: #70F8FF;
  color: #42455a;
  transition: 0.5s ease-out;
  letter-spacing: 1.5px;
}
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body {
  background: #415D43;
  color: #ee600d;
  width: 100%;
  float: 0%;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #415D43;
  color: #EBEBEB;
}
section:nth-child(1) {
  color: #415D43;
}
section:nth-child(2) {
  color: #25c02f;
  background: #e0ffff;
}
section:nth-child(3) {
  color: #25c02f;
}
section:nth-child(4) {
  color: #25c02f;
  background: #e0ffff;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
  
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
section .text-container .picture {
  margin: 20px;
  padding: 20px;
}




.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
  text-align: center;
}
section .welcome {
  position: relative;
  animation: fade-bottom 4s infinite;
  text-align: center;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Text in each section aligns left side
Add color change if needed. 
*/
section .text1{
  text-align: left;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 1;
}
/* Add a hover effect if you want */
.fas:hover {
  opacity: 1;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button:hover {background-color: #3e8e41}

body {
  background: #415D43;
}
/* Set a specific color for each brand */

/* linkedin */
.fa-linkedin {
  background: #3B5998;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px rgb(255, 255, 255);
  padding: 20px;
  font-size: 30px;
  width: 100px;
}

/* github */
.fa-github {
  background: #050505;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px rgb(255, 255, 255);
  padding: 20px;
  font-size: 30px;
  width: 100px;
}

/* Email */
.fa-envelope {
  background: #949496;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px rgb(255, 255, 255);
  padding: 20px;
  font-size: 30px;
  width: 100px;
}
/* Resume PDF File */

.footer .fa-file-alt {
  background: #CBC3E3;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px rgb(255, 255, 255);
  padding: 20px;
  font-size: 30px;
  width: 100px;
}
/* Phone Number */

.fa-phone-alt {
  background: #0fcf3f;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px rgb(255, 255, 255);
  padding: 20px;
  font-size: 30px;
  width: 100px;
}
/* Toggle light/dark mode button
Blue Color: #00C2CB*/ 
.dark-mode-button {
  padding: 5px 5px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  color: #EBEBEB;
  background-color: #415D43;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px #00C2CB;
}
/*Dark Mode */
.dark-mode, .navbar, .footer, .section {
  color: black;
}

.fa:active {
  transform: translateY(3px);
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #EBEBEB;
  text-align: center;
  background-color: #C44900;
}
.container1 * {
box-sizing:border-box}
section .text-container .text-box1 {
  margin: 20px;
  padding: 20px;
  width: 700px;
  background: #00c2cb;
}

.container1 {
  width: 70%;
  background-color: #EBEBEB;
  border-radius: 25px;

}

.skills {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 75%; 
  background-color: #9faa04;
  border-radius: 25px;
}
.css {
  width: 75%; 
  background-color: #2196F3;
  border-radius: 25px;
}
.js {width: 60%; background-color: #db9e1b; border-radius: 25px;}
.java {width: 80%; background-color: #950fd3; border-radius: 25px;}
.python {width: 75%; background-color: #f44336; border-radius: 25px;}
.csharp {width: 70%; background-color: #808080; border-radius: 25px;}

.colorCH {
  color:#EBEBEB
}








