@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
/* Media Queries */
/* small devices(phones) */
@media screen and (max-width: 576) {
  section h1 {
    font-size: 1rem;
    text-align: center;
  }
  header, header nav a {
      display: hidden;
  }
  section .text-container {
    flex-direction: column;
  }
  section .text-container .text-box1 {
    margin: 20px;
    padding: 20px;
    width: 700px;
    background: #1F2833;
  }
}


/* medium devices(tablets) */
@media (min-width: 768px) {
}

/* large devices(laptops/desktops) */
@media (min-width: 992px) {  
    .body {
    font-size: 1rem;
    }
}
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #898e8c; /* Red */
  color: white;
  opacity: 0.5;
  margin-bottom: 15px;
  position: relative;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: #70F8FF;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}